*{
    margin: 0;
    box-sizing: border-box;
}
.hero_div{
    display: flex;
    padding: 40px 15px;
    background-image: url('./Captura.PNG');
    background-position: center;
    background-size:cover ;
}
.hero_img{
    height: 30px;
    margin-right: 10px;
}
.hero_title{
    font-family: sans-serif;
    font-size: 22px;
    margin-top: -2px;
    line-height: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.hero_icon{
    margin-left: 45px;
    border: 1px solid pink;
    height: 30px;
    border-radius: 50%;
}
.hero_model{
    margin-bottom: 30px;
    max-width: 450px;
    width: 410px;
    height: 250px;
    
}
.hero_fondo{
    background-image: url('./Captura.PNG');
    height: 180px;
    background-position: center;
    background-size:cover ;
}
.hero_text{
    text-align: center;
    font-size: 25px;
    color: hsl(0, 36%, 70%);

}
.hero_texto{
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
}
.hero_parragraph{
    text-align: center;
    padding: 15px 0 0 30px;
    font-size: 16px;
    width: 90%;
    color: hsl(0, 36%, 70%);
    line-height: 1.3em;
}
.section{
    background-image: url('./Captura.PNG');
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.section_div{
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}
.section_title{
    font-size: 22px;
    color:hsl(0, 36%, 70%);
}
.section_link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #FBD7E5;
    border-radius: 10px;
    padding: 10px 5px;
    margin-top: -5px;
    font-weight: 900;
}

.section_link:hover{
    color: hsl(0, 36%, 70%);
}
.section_category{
    list-style: none;   
}

 .link{
    color: #ffffff;
    text-decoration: none;
    font-size: 45px;
    background-color: rgba(128, 128, 128, 0.671);
    border-radius: 15px;

 }
.section_ropa{
    background-image: url('./fotos/ropa.jpg');
    height: 250px;
    background-position: center;
    background-size: cover;
    padding: 80px 0px 0px 110px;
    margin: 10px 5px 15px 5px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 15px;
    max-width: 450px;
}
.section_calzado{
    background-image: url('./fotos/calzado.jpg');
    height: 290px;
    background-position: center;
    background-size: cover;
    padding: 100px 0px 0px 80px;
    margin: 10px 5px 15px 5px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 15px;
    max-width: 450px;
}
.section_accesorio{
    background-image: url('./fotos/accesorios.jpg');
    height: 250px;
    background-position: center;
    background-size: cover;
    padding: 100px 0px 80px 45px;
    margin: 10px 5px 25px 5px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 15px;
    max-width: 450px;
}
.section_more{
    text-decoration: none;
    color: black;
    background-color: #FBD7E5;
    padding: 15px 20px;
    margin-left: 35px;
    border-radius: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

@media(min-width:768px){
    .hero{

        width: 900px;
        height: 800px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 45px;
    }
    .hero_div{
        /* width: 160px;
        height: 180px; */
        width: 55%;
        padding-top: 100px;
    }
    .hero_title{
        font-size: 32px;
        margin-top: -20px;
    }
    .hero_icon{
        height: 40px;
    }
    .hero_text{
        font-size: 32px;
    }
    .hero_texto{
        font-size: 30px;
    }
    .hero_parragraph{
        font-size: 18px;
    }
    .hero_model{
        margin-left: auto;
        margin-top: -180px;
        height: 650px;
        width: 45%;
    }
    .hero_fondo{
        width: 55%;
        margin-top: -350px;
    }
    .section_div{
        width: 60%;
        margin-top: -100px;
        margin-left: 20%;
    }
    .section_category{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .section_ropa{
        width: 450px;
        height: 450px;
        padding: 200px 0 0 150px;
        margin: auto;
        margin-bottom: 45px;
    }
    .section_calzado{
        width: 450px;
        height: 450px;
        padding: 200px 0 0 150px;
        margin: auto;
        margin-bottom: 45px;
    }
    .section_accesorio{
        width: 450px;
        height: 450px;
        padding: 200px 0 0 80px;
        margin: auto;
        margin-bottom: 45px;
    }
    .section_more{
        margin-left: 40%;
    }
}