*{
    margin: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url(./Captura.PNG);
    background-position: center;
    background-size: cover;
    height: 120px;
}
.hero_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero_title{
    font-size: 28px;
    color: hsl(0, 6%, 24%);
}
.hero_link{
    text-decoration: none;
    border: 1px solid rgba(54, 54, 54, 0.144);
    background-color:hsl(0, 74%, 74%);
    color: hsl(0, 100%, 98%);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}
.hero_footwear{
    /* background-color: #e8e8e8; */
    background-image: url('./Captura.PNG');
    margin-top: -15px;
}
.hero_images{
    height: 300px;
    width: 300px;
}
.hero_images{
    height: 300px;
    width: 300px;
    margin-left: 40px;
}
.hero_text{
    font-size: 18px;
    padding-bottom: 5px;
    color: hsl(0, 6%, 24%);
    margin-left: 45px;
    margin-bottom: 5px;
}
.hero_boton{
    text-decoration: none;
    color: hsl(0, 36%, 70%);
    background-color: hsla(0, 3%, 38%, 0.26);
    margin-left: 140px;
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
}
.hero_parragraph{
    margin: 8px 0 25px 45px;
    color:hsl(0, 6%, 24%);
}
@media(min-width:668px){
    .hero_div{
        width: 65%;
        margin:auto;
    }
    .hero_footwear{
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
        justify-content: center;
    }
    .division{
        width: 40%;
    }

}